<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="~/Content/base.css">
    <link rel="stylesheet" type="text/css" href="~/Content/inicio.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>@ViewBag.Title - Grupo1</title>

</head>
<body>
    @{
        var nombreuser = Session["nombre"];
        var apellidouser = Session["apellido"];
        var tipouser = Session["tipo"];
        var iduser = Session["id"];
        var username = Session["username"];
    }
    <nav class="nav_cabezera">
        <ul class="contenedor_nav">
            <li class="lista_item lista_item_titulo">
                <h4>PLATAFORMA</h4>
            </li>
            <li class="lista_item item_navbar">
                <a class="btn_usuario navbar-item" href="@Url.Action("Usuario", "Home", new { id = Session["id"] })">

                    <img src="@Url.Action("Imagen", "Home", new { id = Session["id"] })" class="fotoUsuario_base" />

                    @username
                  
                </a>
            </li>
            <li class="lista_item item_navbar">
                <a class="btn_cerrar navbar-item" href="@Url.Action("LogOut", "Login")">
                    Salir <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </li>


        </ul>
    </nav>



    <!-- Contenido -->

    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo flexbox-left">
                <a class="navbar-item-inner flexbox" href="@Url.Action("Index", "Home")">
                    <img class="dimencion_Logo" src="~/Imagenes/logoPagina.png" alt="Logo pagina">
                </a>
                <span class="link-text letras_logo">Desarrollo Web</span>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="@Url.Action("Index", "Home")">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                    <span class="link-text">Inicio</span>
                </a>
            </li>
            @if (tipouser.Equals(3))
            {
                <li class="navbar-item flexbox-left">
                    <a class="navbar-item-inner flexbox-left" href="@Url.Action("Usuarios", "Admin")">
                        <div class="navbar-item-inner-icon-wrapper flexbox">
                            <ion-icon name="person-add-outline"></ion-icon>
                        </div>
                        <span class="link-text">Usuarios</span>
                    </a>
                </li>



                <li class="navbar-item flexbox-left">
                    <a class="navbar-item-inner flexbox-left" href="@Url.Action("Inscripciones", "Admin")">
                        <div class="navbar-item-inner-icon-wrapper flexbox">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </div>
                        <span class="link-text">Inscripciones</span>
                    </a>
                </li>


                <li class="navbar-item flexbox-left">
                    <a class="navbar-item-inner flexbox-left" href="@Url.Action("Materias", "Admin")">
                        <div class="navbar-item-inner-icon-wrapper flexbox">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </div>
                        <span class="link-text">Materias</span>
                    </a>
                </li>

            }

            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="@Url.Action("Configuraciones", "Admin")">
                    <div class="navbar-item-inner-icon-wrapper flexbox">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <span class="link-text">Configuraciones</span>
                </a>
            </li>
        </ul>

    </nav>







    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="contenedor_footer">
                <div class="organizacion_footer">
                    <a href="#">UNIVERSIDAD DE LAS FUERZAS ARMADAS "ESPE"</a>
                </div>
                <div class="derechos_footer">
                    <p>&copy; @DateTime.Now.Year - Todos los derechos reservados</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>


<!--Ion Icons-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>