@model List<ProyectoG1.Models.ViewModel.ListaPermisosViewModel>
@{
    ViewBag.Title = "Permisos";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="~/Imagenes/FavIcon.png">
    <!--ESTILOS-->
    <link rel="stylesheet" type="text/css" href="~/Content/base.css">
    <link rel="stylesheet" type="text/css" href="~/Content/configuraciones.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    @{
        var nombreuser = Session["nombre"];
        var apellidouser = Session["apellido"];
        var tipouser = Session["tipo"];
        var iduser = Session["id"];


    }
    <!-- Contenido -->
    <section id="contenedor">

        <h3 class="text_usuario">Permisos</h3>

        <div>
            <div>
                <table>
                    <h6 class="subtitulo" align="center">Permisos de usuario</h6>
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">PERMISOS</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var oElemento in Model)
                        {
                            <tr>
                                <td>@oElemento.idTipo</td>
                                <td>@oElemento.tipo</td>
                                <td>
                                    <a class="btn btn_editar" href="@Url.Action("Permiso", "Editar", new { id = @oElemento.idTipo })">Editar</a>
                                </td>
                                <td>
                                    @if (oElemento.idTipo == 1 || oElemento.idTipo == 2 || oElemento.idTipo == 3)
                                    {
                                        <a href="@Url.Action("Editar", "Admin", new { id = @oElemento.idTipo })">
                                            <button type="button" class="btn_eliminar" onclick="return ConfirmDeleteEstadoNegado(event)">Eliminar</button>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("EliminarPermiso", "Admin", new { id = @oElemento.idTipo })">
                                            <button type="button" class="btn_eliminar" onclick="return ConfirmDeleteTipo()">Eliminar</button>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div align="center" class="contenedor_btn_agregar">
                    <a class="btn_format btn_agregar" href="@Url.Action("Permiso", "Agregar")">Agregar permiso</a>
                </div>
            </div>
    </section>
</body>
</html>

<script src="~/Scripts/configuraciones.js"></script>

<!--Ion Icons-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

